<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjektTaiib</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
       body {
           background-color: rgba(235, 234, 234, 1);
           background-image: linear-gradient(180deg, rgba(235, 234, 234, 1) 52%, rgba(160, 157, 157, 1) 100%);
       }
       table {
           border: 1px solid #73E5C1;
           background-color: #EEEEEE;
           width: 100%;
           text-align: left;
           border-collapse: collapse;
       }

           table td, table th {
               border: 1px solid #AAAAAA;
               padding: 3px 0px;
           }

           table tbody td {
               font-size: 15px;
               color: #000000;
           }

           table thead {
               background: #231414;
               background: -moz-linear-gradient(top, #5a4f4f 0%, #392b2b 66%, #231414 100%);
               background: -webkit-linear-gradient(top, #5a4f4f 0%, #392b2b 66%, #231414 100%);
               background: linear-gradient(to bottom, #5a4f4f 0%, #392b2b 66%, #231414 100%);
           }

               table thead th {
                   font-size: 15px;
                   font-weight: bold;
                   color: #FFFFFF;
               }

           table tfoot td {
               font-size: 14px;
           }

           table tfoot .links {
               text-align: right;
           }

               table tfoot .links a {
                   display: inline-block;
                   background: #1C6EA4;
                   color: #FFFFFF;
                   padding: 2px 8px;
                   border-radius: 5px;
               }
   </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!--<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjektTaiib</a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Rezerwacja" asp-action="">Rezerwacja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dodawanie" asp-action="">Dodawanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Placenie" asp-action="">Płacenie</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
